<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{recipe.title}}
    </mat-card-title>
    <mat-card-subtitle>
      {{recipe.category}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <ul>
      <div *ngFor="let ingredient of recipe.ingredients">
        <li>{{ingredient}}</li>
      </div>
    </ul>
    <br>

    <ol>
      <div *ngFor="let step of recipe.directions">
        <li> {{step}} </li>
      </div>
    </ol>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
  <mat-card-footer>
    This recipe was posted on Our Kitchen by {{recipe.author}}
  </mat-card-footer>
</mat-card>