<mat-toolbar>
  <span>
    <mat-form-field floatLabel="never" >
      <span><input matInput type="text" [(ngModel)]="searchTerm" (keydown)="search($event)" id="search"
         placeholder="Search by name" [matAutocomplete]="auto"></span>
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let recipe of results" [value]="option">
        <a routerLink="/details/{{recipe.recipeid}}">
          {{recipe.title}}
        </a>
      </mat-option>
    </mat-autocomplete>
  </span>
</mat-toolbar>

<!-- <div *ngIf="results">
  <div *ngFor="let recipe of results">
    <mat-list>
      <mat-list-item>
        <a routerLink="/details/{{recipe.recipeid}}">
          {{recipe.title}} -&nbsp; <em> {{recipe.category}}</em>
        </a>
      </mat-list-item>
    </mat-list>
  </div>
</div> -->