<br>
<div>
  <ais-instantsearch
    [config]="{ appId: 'G9ENFRMAIZ', apiKey: 'eb09cf6c2758f31ed399e1febc393f60', indexName: 'recipes' }">
    <ais-panel>
      <ais-search-box placeholder="Search" [searchAsYouType]="true" [autofocus]="false"></ais-search-box>
      <ais-hits>
        <ng-template let-hits="hits" let-results="results">
          <p class="info" *ngIf="hits.length === 0">
            No results were found for {{results.query}}.
          </p>
          <div *ngIf="results.query && results.query.length > 0">
            <ol class="ais-Hits-list">
              <li *ngFor="let hit of hits" class="ais-Hits-item">
                <a routerLink="/details/{{hit.recipeid}}">
                  {{hit.title}}&nbsp;-&nbsp;{{hit.category}}
                  <br>
                  
                </a>
                <ais-highlight attribute="title" [hit]="hit"> </ais-highlight>
                &nbsp;-&nbsp;
                <ais-highlight attribute="ingredients" [hit]="hit"> </ais-highlight>
              </li>
            </ol>
            <img src="../../../assets/search-by-algolia-light-background.png" alt="algolia logo">
          </div>
        </ng-template>
      </ais-hits>
    </ais-panel>
  </ais-instantsearch>
</div>
